body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #212121 !important; /* Ensure the background starts dark */
    transition: background-color 100ms ease-in-out; /* Smooth transitions */
    will-change: background-color; /* Forces the browser to optimize for color changes */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container img {
    max-width: 90%; /* Ensure images fit the screen */
    max-height: 70vh; /* Limit height to 70% of viewport height */
    object-fit: contain; /* Ensure the image scales properly */
}

#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}

/* Message below Longdistance.jpg */
#message {
    font-family: 'Sacramento', cursive;
    font-size: 28px;
    color: white;
    margin-top: 20px;
    display: none; /* Initially hidden */
}
